<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>summary:</strong>
  <%= @article.summary %>
</p>

<p>
  <strong>body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>avatar:</strong>
  <%= @article.avatar %>
</p>

<%= link_to 'Back', articles_path %>